<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Services</title>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      sizes="32x32"
      type="image/png"
      href="/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      sizes="16x16"
      type="image/png"
      href="/images/favicon/favicon-16x16.png"
    />
    <link rel="stylesheet" href="/css/ServicesStyle.css" />
    <link rel="manifest" href="/images/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/theme-default.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/core.css" />
    <link rel="stylesheet" href="/css/theme-default.css" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js" defer></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js" defer></script>

    <body>

        <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">Musika</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/AdvertHub">Advert Hub</a>
              </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdownMenuLink"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Products
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <li>
                  <a
                      class="dropdown-item"
                      href="/products"
                      data-category="All Products"
                    >
                      All Products
                    </a>
                  </li>
              </li>
                </ul>
          
          </div>
        </div>
      </nav>

    <!-- Navigation End!! -->
        

        <div class="all">

            
        <div class="box" onclick="directToPage()">
            <span class="upload"><ion-icon name="add"></ion-icon></span>
            <h6 class="h6">Upload Product</h6>
        </div>
        

        <div class="box1" onclick="directToPage1()">
            <span class="view"><ion-icon name="eye"></ion-icon></span>
            <h6 class="h7">View Products</h6>
        </div>
        

        
        
        <div class="box3" onclick="directToPage2()">
          <span class="profile"><ion-icon name="person"></ion-icon></span>
          <h6 class="h9">My Profile</h6>
        </div>
        
        <!-- <div class="box2">
            <span class="events"><ion-icon name="accessibility"></ion-icon></span>
            <h6 class="h8">Events</h6>
        </div> -->
        </div>
    </div>

       
           <script>

            function directToPage(){
    //direct to home page and Adding a delay
    setTimeout(function(){
      window.location.href="/adverts/upload";
    },100);//300 milli seconds (0.1) seconds delay
  }
           </script>

<script>

  function directToPage1(){
//direct to home page and Adding a delay
setTimeout(function(){
window.location.href="products";
},100);//300 milli seconds (0.1) seconds delay
}
 </script>

<script>

  function directToPage2(){
//direct to home page and Adding a delay
setTimeout(function(){
window.location.href="/user/profile";
},100);//300 milli seconds (0.1) seconds delay
}
 </script>

           

          <footer>&copy; 2024 MUSIKA MARKETPLACE</footer>
    </body>
    <script
    src="/scripts/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>