body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("/images/universal.png");
  background-position: center;
  color: #fff;
}
h1,
p {
  display: inline;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  gap: 30px;
}
button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 25px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #1a2030;
  text-align: center;
  justify-content: center;
  text-decoration: none;
}
button:hover {
  background-color: #d0a800;
}
.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
